beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
hunspell==0.5.5
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
public==2019.4.13
query-string==2019.4.13
requests
soupsieve==1.9.5
urllib3==1.26.5
Werkzeug==1.0.0
nltk
